<section class="sec-products">
  <p-carousel [value]="products" [circular]="true" [numVisible]="4" [numScroll]="1"
    [responsiveOptions]="carouselResponsiveOptions">
    <ng-template pTemplate="header">
      <div class="products-header">
        Top Selling Products
      </div>
    </ng-template>
    <ng-template let-product pTemplate="item">
      <div class="product-container" (click)="buyItem(product.id)">
        <div class="product-name">
          {{product.name}}
        </div>
        <div class="product-main-container">
          <div class="product-img">
            <img [src]="product.image" width="200px" height="200px">
          </div>
          <span class="product-description">
            {{product.description}}
          </span>
        </div>
        <div class="product-price-container">
          <span class="product-price">
            {{product.price_cents/100 | currency: product.currency}}
          </span>
        </div>
        <div class="product-footer">
          <div class="product-timer">Ends in <strong>{{product.countdown_timer}}</strong></div>
          <div class="product-button">
            <p-button (click)="buyItem(product.id)">Buy</p-button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</section>