:host::ng-deep {
  p-menubar .p-menubar {
    padding: 0.5rem;

    .p-menubar-start a .img-logo {
      cursor: pointer;
      -webkit-filter: invert(1);
      filter: invert(1);
      margin-right: 0.75rem;
    }

    p-menubarsub ul li .p-menuitem-content a {
      padding: 0.75rem 1rem;

      span {
        margin-right: 0.5rem;
      }
    }

    .p-menubar-end {
      margin-left: auto;

      .menu-right {
        display: flex;
        gap: 1rem;
        align-items: center;

        .p-input-icon-right {
          input {
            padding: 0.5rem 0.5rem;
          }

          .btn-search {
            margin-top: -0.5rem;
            cursor: pointer;
          }
        }

        .sign-in-up {
          display: flex;
          flex-direction: column;
          align-items: center;

          a {
            text-decoration: none;

            &:visited {
              color: blue;
            }
          }
        }

        .btn-cart {
          cursor: pointer;
          font-size: 1.75rem;
        }
      }
    }
  }
}