// @import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

.flex {
  display: flex;
}

* {
  // margin: 0;
  // padding: 0;
  // box-sizing: border-box;
  // box-shadow: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  font-size: 100%; //dont put a fixed pixel here, bcz it breaks accessibility
}
body{
  margin:0;
}

:root {
  --button-color:mediumslateblue;
  --link-text-color: blue;
  --background-color-footer: #5d22b861;
  --success: #3bbe00;
  --fail: #b50000;
  --item-box-shadow-normal-color: rgba(40, 41, 61, 0.16);
  --item-box-shadow-hovered-color: rgba(96, 97, 112, 0.32)
}