<section class="sec-sales">
  <p-carousel [value]="topSales" [circular]="true" [numVisible]="4" [numScroll]="1"
    [responsiveOptions]="carouselResponsiveOptions" [autoplayInterval]="10000">
    <ng-template pTemplate="header">
      <div class="sales-header">
        Sales
      </div>
    </ng-template>
    <ng-template let-sale pTemplate="item">
      <div class="sale-container" (click)="buySaleItem(sale.id)">
        <div class="sale-name">
          {{sale.name}}
        </div>
        <div class="sale-main-container">
          <div class="sale-img">
            <img [src]="sale.image" width="200px" height="200px">
          </div>
          <span class="sale-description">
            {{sale.description}}
          </span>
        </div>
        <div class="sale-price-container">
          <span class="sale-old-price">
            <del>{{sale.old_price_cents/100 | currency: sale.currency}}</del>
          </span>
          <span class="sale-new-price">
            {{sale.price_cents/100 | currency: sale.currency}}
          </span>
        </div>
        <div class="sale-footer">
          <div class="sale-timer">Termina em <strong>{{sale.countdown_timer}}</strong></div>
          <div class="sale-button">
            <p-button (click)="buySaleItem(sale.id)">Comprar</p-button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</section>