<main>
  <p-progressSpinner *ngIf="loadingComponent"></p-progressSpinner>

  <div *ngIf="!loadingComponent && product">

    <div class="product-container">
      <div class="product-name">
        {{product.name}}
      </div>
      <div class="product-body">
        <div class="product-left-img">
          <img [src]="product.image">
        </div>
        <div class="product-right">
          <span class="product-price">
            {{product.price_cents/100 | currency: product.currency}}
          </span>
          <span class="product-description">
            {{product.description}}
          </span>
        </div>
      </div>

      <div class="product-button">
        <p-button (click)="buyItem(product.id)">Buy Now</p-button>
      </div>
    </div>
  </div>

  <div *ngIf="!loadingComponent && !product">
    <p>Product '{{productId}}' was not found</p>
  </div>
</main>