<footer class="footer-container">
  <div class="footer-item">
    <div class="footer-logo">
      <img src="favicon.ico">
      <span>EduStore</span>
    </div>
    <div class="content">
      <ul>
        <li>CNPJ: 11.222.333/4444-55</li> 
        <li>CEP: 99999-888</li>
      </ul>
    </div>
  </div>
  <div class="footer-item">
    <span class="title">About</span>
    <div class="content">
      <ul>
        <li><a href="not-found">Who am I</a></li>
        <li><a href="https://github.com/EduardoPeresLima" target="_blank">My Github</a></li> 
        <li><a href="https://www.linkedin.com/in/eduardopereslima/" target="_blank">My Linkedin</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-item">
    <span class="title">Help</span>
    <div class="content">
      <ul>
        <li><a href="not-found">My Account</a></li>
        <li><a href="not-found">My Orders</a></li>
        <li><a href="not-found">Payment Methods</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-item">
    <span class="title">Contact</span>
    <div class="content">
      <ul>
        <li>eduardo&#64;eduardo.eduardo.com</li>
        <li>+99 (99) 9 9999-9999</li>
        <li>Street X n999</li>
        <li>© <a href="home">edustore.com.br</a> | All rights reserved</li>
      </ul>
    </div>
  </div>
</footer>