<footer class="footer-container">
  <div class="footer-item">
    <div class="footer-logo">
      <img src="favicon.ico">
      <span>EduStore</span>
    </div>
    <div class="content">
      <ul>
        <li>CNPJ: 11.222.333/4444-55</li> 
        <li>CEP: 99999-888</li>
      </ul>
    </div>
  </div>
  <div class="footer-item">
    <span class="title">About</span>
    <div class="content">
      <ul>
        <li><a>Who am I</a></li>
        <li><a>My Github</a></li> 
        <li><a>My Linkedin</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-item">
    <span class="title">Help</span>
    <div class="content">
      <ul>
        <li><a>My Account</a></li>
        <li><a>My Orders</a></li>
        <li><a>Payment Methods</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-item">
    <span class="title">Contact</span>
    <div class="content">
      <ul>
        <li>eduardo&#64;eduardo.eduardo.com</li>
        <li>+99 (99) 9 9999-9999</li>
        <li>Street X n999</li>
        <li>© <a href="#">edustore.com.br</a> | Todos os direitos reservados</li>
      </ul>
    </div>
  </div>
</footer>